# SPDX-FileCopyrightText: 2025 INSEE
#
# SPDX-License-Identifier: CC0-1.0

-r requirements.txt
-r requirements-extra.txt
# formatting and linting
black
flake8
# tests
parameterized
pytest-cov
pytest-html
pytest-xdist
